<div id = "navbar">
  <div class = "horizontal">
    <img>
    <img class="nav-item" src="../../assets/imgs/ESCUDO.png">
    <img class="nav-item" src="../../assets/imgs/user.png">
  </div>

  <!--barra lateral aberta-->
  <div *ngIf="this.navBarState" id = "vertical-open"> 
    <div class="sidenav-item">
      <p class="sidenav-icon"> 
        <img class ="icones" src ="../../assets/imgs/sideicons/wcalendario.png">
      </p> <p class="sidenav-text">Calendário de atividades</p>
    </div>
    <div class="sidenav-item">
      <p class="sidenav-icon">
        <img class ="icones" src ="../../assets/imgs/sideicons/wmedico.png">
      </p> <p class="sidenav-text">Calendário de recuperacao</p>
    </div>
    <div class="sidenav-item">
      <p class="sidenav-icon">
        <img class ="icones" src ="../../assets/imgs/sideicons/wplayer.png">
      </p> <p class="sidenav-text">Atividades</p>
    </div>
    <div class="sidenav-item">
      <p class="sidenav-icon">
        <img class ="icones" src ="../../assets/imgs/sideicons/wcamisa.png">
      </p> <p class="sidenav-text">Jogadores</p>
    </div>
    <div class="sidenav-item">
      <p class="sidenav-icon">
          <img class ="icones" src ="../../assets/imgs/sideicons/wpeople.png">
      </p> <p class="sidenav-text">Grupos</p>
    </div>
  </div>

  <!--barra lateral fechada-->
  <div  class = "vertical-closed">
    <div (click)="SwitchNavBarState( )" class="closed-nav-item menu-container">
      <img class="menu" src="../../assets/imgs/menu.png">
    </div>
    <div class="closed-nav-item">
      <p class="sidenav-icon">
        <img class ="icones" src ="../../assets/imgs/sideicons/wcalendario.png">
      </p> 
    </div>
    <div class="closed-nav-item">
      <p class="sidenav-icon">
        <img class ="icones" src ="../../assets/imgs/sideicons/wmedico.png">
      </p> 
    </div>
    <div class="closed-nav-item">
      <p class="sidenav-icon">
        <img class ="icones" src ="../../assets/imgs/sideicons/wplayer.png">
      </p>
    </div>
    <div class="closed-nav-item">
      <p class="sidenav-icon">
        <img class ="icones" src ="../../assets/imgs/sideicons/wcamisa.png">
      </p>
    </div>
    <div class="closed-nav-item">
      <p class="sidenav-icon">
        <img class ="icones" src ="../../assets/imgs/sideicons/wpeople.png">
      </p>
    </div>
  </div>
</div>