.container {
    display: flex;
    justify-content: flex-start;

    width: 93.2vw;
    height: 110vh;
    background-color: whitesmoke;
    border-radius: .5em;
    padding-left: 5vw;
    padding-top:7vh;
}

.calendario {
    width: 60%;
}
