<cdk-virtual-scroll-viewport itemSize="100">
</cdk-virtual-scroll-viewport>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="header_title_text">Treino Forte na Chuva</mat-panel-title>
        <mat-panel-description class="hd_desc">09h às 12h</mat-panel-description>
    </mat-expansion-panel-header>

    <div class="imgcont">
        <div class="image"></div>     
    </div>
    <div class="textcont">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam volutpat vel neque sed laoreet. Sed consequat convallis egestas. 
            Vivamus bibendum diam eu rhoncus sodales. Aliquam vel gravida odio, 
            vel iaculis purus. Praesent ac dolor velit. Sed non tellus vitae mauris 
            ultricies lobortis. Sed faucibus sagittis porttitor.
    </div>
    <mat-action-row>
        <div class="at_avatar">
            <img src = "../../../assets/imgs/running.png" class="avatar_icon">
        </div> 
    </mat-action-row>


</mat-expansion-panel>
