/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '@fullcalendar/core/main.min.css';
@import '@fullcalendar/daygrid/main.min.css';

html {
    background-image: url('http://s.glbimg.com/es/ge/f/original/2015/08/01/c0x0303.jpg');
    background-size: cover;
    background-color: rgba(100,100,100,0.75);
    background-blend-mode: multiply;
}